[Unit]
Description=tweet
After=autologin@tty1.service

[Service]
Type=simple
WorkingDirectory=/home/ubuntu/twitter_bot
ExecStartPre=/home/ubuntu/twitter_bot/.venv/bin/python /home/ubuntu/twitter_bot/create_message.py
ExecStart=/home/ubuntu/twitter_bot/.venv/bin/python /home/ubuntu/twitter_bot/tweet.py
Restart=no
User=ubuntu

[Install]
WantedBy=default.target